@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>食記</h1><br />
    <p class="lead" style="text-align: justify;
        text-justify:inter-ideograph;">
        　　一個食物平台，一個飲品平台，一個讓你尋找夜市吃喝玩樂上的真愛平台，對!這些我們都有，因為這是一個專門介紹夜市與推薦夜市好吃、好喝與好玩的專業平台。<br /><br />
        　　您是否也有這樣的經驗呢?懶得全台趴趴走把夜市都逛遍，卻很苦悶的覺得，到底哪家市的食物、飲品、遊戲比較值得去呢?也許您會去常去的幾家夜市，雖然熟悉，但膩了，想去夜市，卻因為上述原因或是其他的原因，讓您對去夜市感到乏味了，卻也不是很清楚全台哪有更值回票價的吃喝玩樂好去處，但享受生活的小娛樂、放鬆就這樣到此為止了嗎?難道就這樣放棄了嗎?不!也許您想找新穎的口味，也許您想找會可以讓你一見鍾情的吃喝玩樂，也許您只是想知道到底到底在時間有限的情況下，去哪家夜市比較好，此平台將重燃您對夜市的熱情。
        別以為我們只是個單一性的推薦食物，喜歡或不喜歡都可以在對商品留言並可以評價，而且我們還有排行榜，不想看大量的商品資料，想快速知道最優資訊，看排行榜就對了。<br /><br />
        　　起初想創建此平台，只是因為不知道該去哪家夜市吃比較好，覺得非常困擾，我們的創建者都非常喜愛去夜市，從發想出到創建這個平台後，我們都開心死了，再也沒有理由可以阻饒我們去夜市吃喝玩喜歡的，也歡迎和我們共同喜歡夜市的大朋友或是小朋友，一同找到自己喜愛的夜市好去處。
    </p><br />
    <p><a href="http://localhost:51594/NightMarket" class="btn btn-primary btn-lg">看更多 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>花園夜市</h2>
        <p>
            每週四、六、日台南最具指標性的夜市，若想逛完整個「花園夜市」至少得花費兩個小時以上的時間，是來到台南市夜晚消磨時間的休閒好去處。
        </p>
        <p><a class="btn btn-default" href="http://localhost:51594/NightMarket/Index">看更多 &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>圍仔內夜市</h2>
        <p>每週二、五，在文賢國小旁邊，好吃好喝種類多多。</p>
        <p><a class="btn btn-default" href="http://localhost:51594/NightMarket/Index">看更多 &raquo;</a></p>
    </div>
</div>